

nav { 
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #FDB927;
    color: #552583;
    position: fixed;
    padding-left: 2em;
    padding-right: 2em;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
      
    }

img.logo {
    height: 80px;
    width: 120px;
    float: left;
}

span.header {
    padding: 10px;
    font-size: 250%;
    line-height: 80px

}

#nav-bar input {
    background-color: lightgrey;
                  float:right;
                  margin-top: 14.5px;
                  margin-bottom: 35px;
                  margin-right: auto;
                  height: 50px;
                  width: 120px;
                  border-radius: 10px
                  
}





      