h2 { 
    border-bottom: 1px solid black;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-top: 15px;
    color: #552583;
}

section.new-tweet {
    background-color: #E9DEFF;
    margin-left: 2em;
    margin-right: 2em;
    height: 160px;
    border-radius: 10px;
}

span.counter {
       float: right;
       padding-right: 18px; 
       padding-top: 5px;
}
.negcountercolor {
    color: red;
}

form {
    margin-left: 0.7em;
    color: #552583;
}
input {
    color: #000000;
}

textarea {
    width: 97%;
    
}